In [1]:
pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install dnspython

Requirement already satisfied: dnspython in c:\programdata\anaconda3\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# Imports

import pandas as pd
from pymongo import MongoClient
# Load csv dataset
data = pd.read_csv
# Connect to MongoDB
client =  MongoClient("mongodb+srv://bina:root@cluster0.c7s0uw2.mongodb.net/?retryWrites=true&w=majority")
db = client['InformationExtraction']
collection = db['structured']
collection_str = db['structured_invoice']

In [6]:
import re
pattern_fahrkarte=re.compile(r'\bFahrkarte [0-9]{1,}\b')
pattern_zahlungsmittelentgelt=re.compile(r'\bZahlungsmittelentgelt\b')
pattern_Summe=re.compile(r'\Summe\b')
pattern_datum=re.compile(r'\Datum\b')
pattern_source_destination=re.compile(r'\bHinfahrt\b')

In [7]:
    import pandas as pd
    columns1 =[]
    columns2=[]
    columns3=[]
    columns4=[]
    data=[]
    fahr=[]
    data_frames=pd.DataFrame()
    not_applicable= 'NA NA NA NA'

In [18]:
def fahrkarte():

        for line11 in output.split('\n'):
            if pattern_fahrkarte.findall(line11):
                #print(line11)
                #print(type(line11))
                line11=line11.replace(' Fahrkarte','')
                return line11            


fahrkarte()

'ICE 1 81,90€ 81,90€ 5,36€'

In [19]:
def summe():
        for line in output.split('\n'):
            if pattern_Summe.match(line):
                line=line.replace("Summe ","")
                #print(line)
                return line
summe()

'81,90€ 81,90€ 5,36€'

In [20]:
def datum():
    for line in output.split('\n'):
        if pattern_datum.match(line):
            line=line.replace("Datum ","")
            #line=line.replace(" Gen-Nr N4TM7R","")
            #print(line)
            return line
datum()

'11.01.2020 Gen-Nr NHGWT5'

In [21]:
def source_destination():
    for line in output.split('\n'):
        if pattern_source_destination.match(line):
            line=line.replace(" ,","")
            line=line.replace("Hinfahrt: ","")
            line=line.replace(" mit ICE","")
            line=line.replace(" mit IC/EC","")

            #print(line)
            return line
source_destination()

'Leipzig+City  Hamburg+City'

In [22]:
def formTableforData():   
    
    
    
    fahr=fahrkarte().split(' ')
    src_des=source_destination().split(' ')
    #zahlungsmittel=zahlungsmittelentgelt().split(' ')
    date=datum().split(' ')
    sum_preis=summe().split(' ')
    
    columns1.append(fahr)
    col1=[{ "Positionen":a[0], "Num_Person":a[1], "Preis":a[2], "MwSt (D) 19%": a[3],"MwSt D: 7%": a[4]} for a in columns1]
    columns2.append(sum_preis)
    col2=[{ "Summe_Preis":a[0], "Summe_MwSt (D) 19%":a[1], "Summe_MwSt D: 7%":a[2]} for a in columns2]
    columns3.append(src_des)
    col3=[{ "Source":a[0], "Destination":a[2]} for a in columns3]
    columns4.append(date)
    col4=[{ "Datum":a[0]} for a in columns4]
    
    df2=pd.DataFrame(col1)
    
    df3=pd.DataFrame(col2)
    df4=pd.DataFrame(col3)
    df5=pd.DataFrame(col4)
    
    print(df2)
    print(df3)
    print(df4)
    print(df5)
    
    data_frames = [df2, df3,df4, df5]
    

    
formTableforData()

  Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0        ICE          1  81,90€       81,90€      5,36€
1        ICE          1  81,90€       81,90€      5,36€
2        ICE          1  81,90€       81,90€      5,36€
3        ICE          1  81,90€       81,90€      5,36€
4        ICE          1  81,90€       81,90€      5,36€
  Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0      81,90€             81,90€            5,36€
1      81,90€             81,90€            5,36€
2      81,90€             81,90€            5,36€
3      81,90€             81,90€            5,36€
4      81,90€             81,90€            5,36€
         Source   Destination
0  Leipzig+City  Hamburg+City
1  Leipzig+City  Hamburg+City
2  Leipzig+City  Hamburg+City
3  Leipzig+City  Hamburg+City
4  Leipzig+City  Hamburg+City
        Datum
0  11.01.2020
1  11.01.2020
2  11.01.2020
3  11.01.2020
4  11.01.2020

In [52]:
import os
import PyPDF2
df=pd.DataFrame(columns=["data"])
#df_structured=pd.DataFrame(columns=["data"])
path_of_the_directory= "C:\\Users\\binakhatnani\\Downloads\\2020\\de\\public transport\\"
print("Files and directories in a specified path:")
for filename in os.listdir(path_of_the_directory):
    f = os.path.join(path_of_the_directory,filename)
    if os.path.isfile(f):
        print(f)
        reader = PyPDF2.PdfFileReader(f)
        page = reader.getPage(0)
        output = page.extractText()
        out=[]
        out.append(output)
        
        for data in out:
            df.loc[len(df)]= data
        
        
        
        print(fahrkarte())
       # print(zahlungsmittelentgelt())
        print(summe())
        print(datum())
        print(source_destination())
        
       
        
        fahr=fahrkarte().split(' ')
        src_des=source_destination().split(' ')
        #zahlungsmittel=zahlungsmittelentgelt().split(' ')
        date=datum().split(' ')
        sum_preis=summe().split(' ')
    
        df_structured=pd.DataFrame()
       
       
        df_structured.loc[1,'duration']=[[fahr],[src_des],[date],[sum_preis] ]
        print(df_structured)
       
            
       


        columns1.append(fahr)
        col1=[{ "Positionen":a[0], "Num_Person":a[1], "Preis":a[2], "MwSt (D) 19%": a[3],"MwSt D: 7%": a[4]} for a in columns1]
        columns2.append(sum_preis)
        col2=[{ "Summe_Preis":a[0], "Summe_MwSt (D) 19%":a[1], "Summe_MwSt D: 7%":a[2]} for a in columns2]
        columns3.append(src_des)
        col3=[{ "Source":a[0], "Destination":a[2]} for a in columns3]
        columns4.append(date)
        col4=[{ "Datum":a[0]} for a in columns4]

        df2=pd.DataFrame(col1)

        df3=pd.DataFrame(col2)
        df4=pd.DataFrame(col3)
        df5=pd.DataFrame(col4)

        print(df2)
        print(df3)
        print(df4)
        print(df5)

Files and directories in a specified path:
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-17B6DU.pdf
ICE 1 81,90€ 81,90€ 5,36€
81,90€ 81,90€ 5,36€
11.01.2020 Gen-Nr NHGWT5
Leipzig+City  Hamburg+City
                                            duration
1  [[ICE, 1, 81,90€, 81,90€, 5,36€], [Leipzig+Cit...
   Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0         ICE          1  81,90€       81,90€      5,36€
1         ICE          1  81,90€       81,90€      5,36€
2         ICE          1  81,90€       81,90€      5,36€
3         ICE          1  81,90€       81,90€      5,36€
4         ICE          1  81,90€       81,90€      5,36€
..        ...        ...     ...          ...        ...
91        ICE          1  30,15€       30,15€      1,97€
92        ICE          1  89,25€       89,25€      5,84€
93        ICE          1  69,55€       69,55€      4,55€
94        ICE          1  81,90€       81,90€      5,36€
95        ICE          1  81,90€       81,90€      5,36€

[96 rows x 5 columns]
   Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0       81,90€             81,90€            5,36€
1       81,90€             81,90€            5,36€
2       81,90€             81,90€            5,36€
3       81,90€             81,90€            5,36€
4       81,90€             81,90€            5,36€
..         ...                ...              ...
91      30,15€             30,15€            1,97€
92      89,25€             89,25€            5,84€
93      69,55€             69,55€            4,55€
94      81,90€             81,90€            5,36€
95      81,90€             81,90€            5,36€

[96 rows x 3 columns]
          Source   Destination
0   Leipzig+City  Hamburg+City
1   Leipzig+City  Hamburg+City
2   Leipzig+City  Hamburg+City
3   Leipzig+City  Hamburg+City
4   Leipzig+City  Hamburg+City
..           ...           ...
91   Bochum+City     Bonn+City
92  Hamburg+City  Leipzig+City
93  Hamburg+City   Bochum+City
94  Leipzig+City  Hamburg+City
95  Leipzig+City  Hamburg+City

[96 rows x 2 columns]
         Datum
0   11.01.2020
1   11.01.2020
2   11.01.2020
3   11.01.2020
4   11.01.2020
..         ...
91  24.01.2020
92  30.01.2020
93  23.01.2020
94  18.01.2020
95  11.01.2020

[96 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-34QQAW.pdf
IC/EC 1 72,80€ 72,80€ 4,76€
72,80€ 72,80€ 4,76€
26.01.2020 Gen-Nr NC7HI8
Bonn+City  Hamburg+City
                                            duration
1  [[IC/EC, 1, 72,80€, 72,80€, 4,76€], [Bonn+City...
   Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0         ICE          1  81,90€       81,90€      5,36€
1         ICE          1  81,90€       81,90€      5,36€
2         ICE          1  81,90€       81,90€      5,36€
3         ICE          1  81,90€       81,90€      5,36€
4         ICE          1  81,90€       81,90€      5,36€
..        ...        ...     ...          ...        ...
92        ICE          1  89,25€       89,25€      5,84€
93        ICE          1  69,55€       69,55€      4,55€
94        ICE          1  81,90€       81,90€      5,36€
95        ICE          1  81,90€       81,90€      5,36€
96      IC/EC          1  72,80€       72,80€      4,76€

[97 rows x 5 columns]
   Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0       81,90€             81,90€            5,36€
1       81,90€             81,90€            5,36€
2       81,90€             81,90€            5,36€
3       81,90€             81,90€            5,36€
4       81,90€             81,90€            5,36€
..         ...                ...              ...
92      89,25€             89,25€            5,84€
93      69,55€             69,55€            4,55€
94      81,90€             81,90€            5,36€
95      81,90€             81,90€            5,36€
96      72,80€             72,80€            4,76€

[97 rows x 3 columns]
          Source   Destination
0   Leipzig+City  Hamburg+City
1   Leipzig+City  Hamburg+City
2   Leipzig+City  Hamburg+City
3   Leipzig+City  Hamburg+City
4   Leipzig+City  Hamburg+City
..           ...           ...
92  Hamburg+City  Leipzig+City
93  Hamburg+City   Bochum+City
94  Leipzig+City  Hamburg+City
95  Leipzig+City  Hamburg+City
96     Bonn+City  Hamburg+City

[97 rows x 2 columns]
         Datum
0   11.01.2020
1   11.01.2020
2   11.01.2020
3   11.01.2020
4   11.01.2020
..         ...
92  30.01.2020
93  23.01.2020
94  18.01.2020
95  11.01.2020
96  26.01.2020

[97 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-6QBUR1.pdf
ICE 1 86,00€ 86,00€ 5,63€
86,00€ 86,00€ 5,63€
16.01.2020 Gen-Nr N64WYP
Hamburg+City  Leipzig+City
                                            duration
1  [[ICE, 1, 86,00€, 86,00€, 5,63€], [Hamburg+Cit...
   Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0         ICE          1  81,90€       81,90€      5,36€
1         ICE          1  81,90€       81,90€      5,36€
2         ICE          1  81,90€       81,90€      5,36€
3         ICE          1  81,90€       81,90€      5,36€
4         ICE          1  81,90€       81,90€      5,36€
..        ...        ...     ...          ...        ...
93        ICE          1  69,55€       69,55€      4,55€
94        ICE          1  81,90€       81,90€      5,36€
95        ICE          1  81,90€       81,90€      5,36€
96      IC/EC          1  72,80€       72,80€      4,76€
97        ICE          1  86,00€       86,00€      5,63€

[98 rows x 5 columns]
   Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0       81,90€             81,90€            5,36€
1       81,90€             81,90€            5,36€
2       81,90€             81,90€            5,36€
3       81,90€             81,90€            5,36€
4       81,90€             81,90€            5,36€
..         ...                ...              ...
93      69,55€             69,55€            4,55€
94      81,90€             81,90€            5,36€
95      81,90€             81,90€            5,36€
96      72,80€             72,80€            4,76€
97      86,00€             86,00€            5,63€

[98 rows x 3 columns]
          Source   Destination
0   Leipzig+City  Hamburg+City
1   Leipzig+City  Hamburg+City
2   Leipzig+City  Hamburg+City
3   Leipzig+City  Hamburg+City
4   Leipzig+City  Hamburg+City
..           ...           ...
93  Hamburg+City   Bochum+City
94  Leipzig+City  Hamburg+City
95  Leipzig+City  Hamburg+City
96     Bonn+City  Hamburg+City
97  Hamburg+City  Leipzig+City

[98 rows x 2 columns]
         Datum
0   11.01.2020
1   11.01.2020
2   11.01.2020
3   11.01.2020
4   11.01.2020
..         ...
93  23.01.2020
94  18.01.2020
95  11.01.2020
96  26.01.2020
97  16.01.2020

[98 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-7PAYXR.pdf

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

ICE 1 74,30€ 74,30€ 4,86€
74,30€ 74,30€ 4,86€
26.01.2020 Gen-Nr NQ2DK5
Bonn+City  Hamburg+City
                                            duration
1  [[ICE, 1, 74,30€, 74,30€, 4,86€], [Bonn+City, ...
   Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0         ICE          1  81,90€       81,90€      5,36€
1         ICE          1  81,90€       81,90€      5,36€
2         ICE          1  81,90€       81,90€      5,36€
3         ICE          1  81,90€       81,90€      5,36€
4         ICE          1  81,90€       81,90€      5,36€
..        ...        ...     ...          ...        ...
94        ICE          1  81,90€       81,90€      5,36€
95        ICE          1  81,90€       81,90€      5,36€
96      IC/EC          1  72,80€       72,80€      4,76€
97        ICE          1  86,00€       86,00€      5,63€
98        ICE          1  74,30€       74,30€      4,86€

[99 rows x 5 columns]
   Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0       81,90€             81,90€            5,36€
1       81,90€             81,90€            5,36€
2       81,90€             81,90€            5,36€
3       81,90€             81,90€            5,36€
4       81,90€             81,90€            5,36€
..         ...                ...              ...
94      81,90€             81,90€            5,36€
95      81,90€             81,90€            5,36€
96      72,80€             72,80€            4,76€
97      86,00€             86,00€            5,63€
98      74,30€             74,30€            4,86€

[99 rows x 3 columns]
          Source   Destination
0   Leipzig+City  Hamburg+City
1   Leipzig+City  Hamburg+City
2   Leipzig+City  Hamburg+City
3   Leipzig+City  Hamburg+City
4   Leipzig+City  Hamburg+City
..           ...           ...
94  Leipzig+City  Hamburg+City
95  Leipzig+City  Hamburg+City
96     Bonn+City  Hamburg+City
97  Hamburg+City  Leipzig+City
98     Bonn+City  Hamburg+City

[99 rows x 2 columns]
         Datum
0   11.01.2020
1   11.01.2020
2   11.01.2020
3   11.01.2020
4   11.01.2020
..         ...
94  18.01.2020
95  11.01.2020
96  26.01.2020
97  16.01.2020
98  26.01.2020

[99 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-E7QH8B.pdf
ICE 1 30,15€ 30,15€ 1,97€
30,15€ 30,15€ 1,97€
24.01.2020 Gen-Nr NAZUGQ
Bochum+City  Bonn+City
                                            duration
1  [[ICE, 1, 30,15€, 30,15€, 1,97€], [Bochum+City...
   Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0         ICE          1  81,90€       81,90€      5,36€
1         ICE          1  81,90€       81,90€      5,36€
2         ICE          1  81,90€       81,90€      5,36€
3         ICE          1  81,90€       81,90€      5,36€
4         ICE          1  81,90€       81,90€      5,36€
..        ...        ...     ...          ...        ...
95        ICE          1  81,90€       81,90€      5,36€
96      IC/EC          1  72,80€       72,80€      4,76€
97        ICE          1  86,00€       86,00€      5,63€
98        ICE          1  74,30€       74,30€      4,86€
99        ICE          1  30,15€       30,15€      1,97€

[100 rows x 5 columns]
   Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0       81,90€             81,90€            5,36€
1       81,90€             81,90€            5,36€
2       81,90€             81,90€            5,36€
3       81,90€             81,90€            5,36€
4       81,90€             81,90€            5,36€
..         ...                ...              ...
95      81,90€             81,90€            5,36€
96      72,80€             72,80€            4,76€
97      86,00€             86,00€            5,63€
98      74,30€             74,30€            4,86€
99      30,15€             30,15€            1,97€

[100 rows x 3 columns]
          Source   Destination
0   Leipzig+City  Hamburg+City
1   Leipzig+City  Hamburg+City
2   Leipzig+City  Hamburg+City
3   Leipzig+City  Hamburg+City
4   Leipzig+City  Hamburg+City
..           ...           ...
95  Leipzig+City  Hamburg+City
96     Bonn+City  Hamburg+City
97  Hamburg+City  Leipzig+City
98     Bonn+City  Hamburg+City
99   Bochum+City     Bonn+City

[100 rows x 2 columns]
         Datum
0   11.01.2020
1   11.01.2020
2   11.01.2020
3   11.01.2020
4   11.01.2020
..         ...
95  11.01.2020
96  26.01.2020
97  16.01.2020
98  26.01.2020
99  24.01.2020

[100 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
4  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-LP9Z99.pdf
ICE 1 89,25€ 89,25€ 5,84€
89,25€ 89,25€ 5,84€
30.01.2020 Gen-Nr NZ4XAY
Hamburg+City  Leipzig+City
                                            duration
1  [[ICE, 1, 89,25€, 89,25€, 5,84€], [Hamburg+Cit...
    Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0          ICE          1  81,90€       81,90€      5,36€
1          ICE          1  81,90€       81,90€      5,36€
2          ICE          1  81,90€       81,90€      5,36€
3          ICE          1  81,90€       81,90€      5,36€
4          ICE          1  81,90€       81,90€      5,36€
..         ...        ...     ...          ...        ...
96       IC/EC          1  72,80€       72,80€      4,76€
97         ICE          1  86,00€       86,00€      5,63€
98         ICE          1  74,30€       74,30€      4,86€
99         ICE          1  30,15€       30,15€      1,97€
100        ICE          1  89,25€       89,25€      5,84€

[101 rows x 5 columns]
    Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0        81,90€             81,90€            5,36€
1        81,90€             81,90€            5,36€
2        81,90€             81,90€            5,36€
3        81,90€             81,90€            5,36€
4        81,90€             81,90€            5,36€
..          ...                ...              ...
96       72,80€             72,80€            4,76€
97       86,00€             86,00€            5,63€
98       74,30€             74,30€            4,86€
99       30,15€             30,15€            1,97€
100      89,25€             89,25€            5,84€

[101 rows x 3 columns]
           Source   Destination
0    Leipzig+City  Hamburg+City
1    Leipzig+City  Hamburg+City
2    Leipzig+City  Hamburg+City
3    Leipzig+City  Hamburg+City
4    Leipzig+City  Hamburg+City
..            ...           ...
96      Bonn+City  Hamburg+City
97   Hamburg+City  Leipzig+City
98      Bonn+City  Hamburg+City
99    Bochum+City     Bonn+City
100  Hamburg+City  Leipzig+City

[101 rows x 2 columns]
          Datum
0    11.01.2020
1    11.01.2020
2    11.01.2020
3    11.01.2020
4    11.01.2020
..          ...
96   26.01.2020
97   16.01.2020
98   26.01.2020
99   24.01.2020
100  30.01.2020

[101 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
4  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
5  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-TH9ZKM.pdf
ICE 1 69,55€ 69,55€ 4,55€
69,55€ 69,55€ 4,55€
23.01.2020 Gen-Nr NMJCCS
Hamburg+City  Bochum+City
                                            duration
1  [[ICE, 1, 69,55€, 69,55€, 4,55€], [Hamburg+Cit...
    Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0          ICE          1  81,90€       81,90€      5,36€
1          ICE          1  81,90€       81,90€      5,36€
2          ICE          1  81,90€       81,90€      5,36€
3          ICE          1  81,90€       81,90€      5,36€
4          ICE          1  81,90€       81,90€      5,36€
..         ...        ...     ...          ...        ...
97         ICE          1  86,00€       86,00€      5,63€
98         ICE          1  74,30€       74,30€      4,86€
99         ICE          1  30,15€       30,15€      1,97€
100        ICE          1  89,25€       89,25€      5,84€
101        ICE          1  69,55€       69,55€      4,55€

[102 rows x 5 columns]
    Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0        81,90€             81,90€            5,36€
1        81,90€             81,90€            5,36€
2        81,90€             81,90€            5,36€
3        81,90€             81,90€            5,36€
4        81,90€             81,90€            5,36€
..          ...                ...              ...
97       86,00€             86,00€            5,63€
98       74,30€             74,30€            4,86€
99       30,15€             30,15€            1,97€
100      89,25€             89,25€            5,84€
101      69,55€             69,55€            4,55€

[102 rows x 3 columns]
           Source   Destination
0    Leipzig+City  Hamburg+City
1    Leipzig+City  Hamburg+City
2    Leipzig+City  Hamburg+City
3    Leipzig+City  Hamburg+City
4    Leipzig+City  Hamburg+City
..            ...           ...
97   Hamburg+City  Leipzig+City
98      Bonn+City  Hamburg+City
99    Bochum+City     Bonn+City
100  Hamburg+City  Leipzig+City
101  Hamburg+City   Bochum+City

[102 rows x 2 columns]
          Datum
0    11.01.2020
1    11.01.2020
2    11.01.2020
3    11.01.2020
4    11.01.2020
..          ...
97   16.01.2020
98   26.01.2020
99   24.01.2020
100  30.01.2020
101  23.01.2020

[102 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
4  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
5  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
6  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
C:\Users\binakhatnani\Downloads\2020\de\public transport\bahn-VDCSQA.pdf
ICE 1 81,90€ 81,90€ 5,36€
81,90€ 81,90€ 5,36€
18.01.2020 Gen-Nr NZU7LB
Leipzig+City  Hamburg+City
                                            duration
1  [[ICE, 1, 81,90€, 81,90€, 5,36€], [Leipzig+Cit...
    Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0          ICE          1  81,90€       81,90€      5,36€
1          ICE          1  81,90€       81,90€      5,36€
2          ICE          1  81,90€       81,90€      5,36€
3          ICE          1  81,90€       81,90€      5,36€
4          ICE          1  81,90€       81,90€      5,36€
..         ...        ...     ...          ...        ...
98         ICE          1  74,30€       74,30€      4,86€
99         ICE          1  30,15€       30,15€      1,97€
100        ICE          1  89,25€       89,25€      5,84€
101        ICE          1  69,55€       69,55€      4,55€
102        ICE          1  81,90€       81,90€      5,36€

[103 rows x 5 columns]
    Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0        81,90€             81,90€            5,36€
1        81,90€             81,90€            5,36€
2        81,90€             81,90€            5,36€
3        81,90€             81,90€            5,36€
4        81,90€             81,90€            5,36€
..          ...                ...              ...
98       74,30€             74,30€            4,86€
99       30,15€             30,15€            1,97€
100      89,25€             89,25€            5,84€
101      69,55€             69,55€            4,55€
102      81,90€             81,90€            5,36€

[103 rows x 3 columns]
           Source   Destination
0    Leipzig+City  Hamburg+City
1    Leipzig+City  Hamburg+City
2    Leipzig+City  Hamburg+City
3    Leipzig+City  Hamburg+City
4    Leipzig+City  Hamburg+City
..            ...           ...
98      Bonn+City  Hamburg+City
99    Bochum+City     Bonn+City
100  Hamburg+City  Leipzig+City
101  Hamburg+City   Bochum+City
102  Leipzig+City  Hamburg+City

[103 rows x 2 columns]
          Datum
0    11.01.2020
1    11.01.2020
2    11.01.2020
3    11.01.2020
4    11.01.2020
..          ...
98   26.01.2020
99   24.01.2020
100  30.01.2020
101  23.01.2020
102  18.01.2020

[103 rows x 1 columns]
                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
4  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
5  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
6  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
7  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\dtypes\missing.py:531: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  val = np.array(val, copy=False)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [51]:
 print(df_structured.head(5))

                                            duration
1  [[ICE, 1, 81,90€, 81,90€, 5,36€], [Leipzig+Cit...

In [57]:
data_frames = [df,df2, df3,df4, df5]
print(data_frames)

[                                                data
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
4  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
5  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
6  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...
7  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,   Positionen Num_Person   Preis MwSt (D) 19% MwSt D: 7%
0        ICE          1  81,90€       81,90€      5,36€
1        ICE          1  81,90€       81,90€      5,36€
2      IC/EC          1  72,80€       72,80€      4,76€
3        ICE          1  86,00€       86,00€      5,63€
4        ICE          1  74,30€       74,30€      4,86€
5        ICE          1  30,15€       30,15€      1,97€
6        ICE          1  89,25€       89,25€      5,84€
7        ICE          1  69,55€       69,55€      4,55€
8        ICE          1  81,90€       81,90€      5,36€,   Summe_Preis Summe_MwSt (D) 19% Summe_MwSt D: 7%
0      81,90€             81,90€            5,36€
1      81,90€             81,90€            5,36€
2      72,80€             72,80€            4,76€
3      86,00€             86,00€            5,63€
4      74,30€             74,30€            4,86€
5      30,15€             30,15€            1,97€
6      89,25€             89,25€            5,84€
7      69,55€             69,55€            4,55€
8      81,90€             81,90€            5,36€,          Source   Destination
0  Leipzig+City  Hamburg+City
1  Leipzig+City  Hamburg+City
2     Bonn+City  Hamburg+City
3  Hamburg+City  Leipzig+City
4     Bonn+City  Hamburg+City
5   Bochum+City     Bonn+City
6  Hamburg+City  Leipzig+City
7  Hamburg+City   Bochum+City
8  Leipzig+City  Hamburg+City,         Datum
0  18.01.2020
1  11.01.2020
2  26.01.2020
3  16.01.2020
4  26.01.2020
5  24.01.2020
6  30.01.2020
7  23.01.2020
8  18.01.2020]

In [58]:
result = pd.concat(data_frames,axis=1)

In [59]:
print(result)

                                                data Positionen Num_Person  \
0  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...        ICE          1
1  Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...        ICE          1
2  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...      IC/EC          1
3  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...        ICE          1
4  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...        ICE          1
5  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...        ICE          1
6  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...        ICE          1
7  Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...        ICE          1
8                                                NaN        ICE          1

    Preis MwSt (D) 19% MwSt D: 7% Summe_Preis Summe_MwSt (D) 19%  \
0  81,90€       81,90€      5,36€      81,90€             81,90€
1  81,90€       81,90€      5,36€      81,90€             81,90€
2  72,80€       72,80€      4,76€      72,80€             72,80€
3  86,00€       86,00€      5,63€      86,00€             86,00€
4  74,30€       74,30€      4,86€      74,30€             74,30€
5  30,15€       30,15€      1,97€      30,15€             30,15€
6  89,25€       89,25€      5,84€      89,25€             89,25€
7  69,55€       69,55€      4,55€      69,55€             69,55€
8  81,90€       81,90€      5,36€      81,90€             81,90€

  Summe_MwSt D: 7%        Source   Destination       Datum
0            5,36€  Leipzig+City  Hamburg+City  18.01.2020
1            5,36€  Leipzig+City  Hamburg+City  11.01.2020
2            4,76€     Bonn+City  Hamburg+City  26.01.2020
3            5,63€  Hamburg+City  Leipzig+City  16.01.2020
4            4,86€     Bonn+City  Hamburg+City  26.01.2020
5            1,97€   Bochum+City     Bonn+City  24.01.2020
6            5,84€  Hamburg+City  Leipzig+City  30.01.2020
7            4,55€  Hamburg+City   Bochum+City  23.01.2020
8            5,36€  Leipzig+City  Hamburg+City  18.01.2020

In [61]:
#result["resu"]=f"The cost for the journey from {result["Source"]} to {result["Destination"]} on {result["Datum"]} is {result["Summe_Preis"]}"

#def concatination(row):
 #   string1="The journey from "
  #  row['Final']= "string1" +row['source'] +"to" +row['destination'] + "and the price is" +row['Summe_Preis']
   # return row['Final']

#result['Final'] = result['Final'].apply(lambda row: concatination(row) , axis=1)


result['Final'] = 'The price of jouney from '+result['Source'].astype(str) + ' to ' + result['Destination'].astype(str) + 'on ' +result['Datum'].astype(str) +'is '+ result['Summe_Preis'].astype(str)

In [62]:
result['Final']
result

,data,Positionen,Num_Person,Preis,MwSt (D) 19%,MwSt D: 7%,Summe_Preis,Summe_MwSt (D) 19%,Summe_MwSt D: 7%,Source,Destination,Datum,Final
0,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,ICE,1,"81,90€","81,90€","5,36€","81,90€","81,90€","5,36€",Leipzig+City,Hamburg+City,18.01.2020,The price of jouney from Leipzig+City to Hambu...
1,Online-Ticket\nIC/EC Fahrkarte\nFahrtantritt a...,ICE,1,"81,90€","81,90€","5,36€","81,90€","81,90€","5,36€",Leipzig+City,Hamburg+City,11.01.2020,The price of jouney from Leipzig+City to Hambu...
2,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,IC/EC,1,"72,80€","72,80€","4,76€","72,80€","72,80€","4,76€",Bonn+City,Hamburg+City,26.01.2020,The price of jouney from Bonn+City to Hamburg+...
3,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,ICE,1,"86,00€","86,00€","5,63€","86,00€","86,00€","5,63€",Hamburg+City,Leipzig+City,16.01.2020,The price of jouney from Hamburg+City to Leipz...
4,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,ICE,1,"74,30€","74,30€","4,86€","74,30€","74,30€","4,86€",Bonn+City,Hamburg+City,26.01.2020,The price of jouney from Bonn+City to Hamburg+...
5,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,ICE,1,"30,15€","30,15€","1,97€","30,15€","30,15€","1,97€",Bochum+City,Bonn+City,24.01.2020,The price of jouney from Bochum+City to Bonn+C...
6,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,ICE,1,"89,25€","89,25€","5,84€","89,25€","89,25€","5,84€",Hamburg+City,Leipzig+City,30.01.2020,The price of jouney from Hamburg+City to Leipz...
7,Online-Ticket\nICE Fahrkarte\nFahrtantritt am ...,ICE,1,"69,55€","69,55€","4,55€","69,55€","69,55€","4,55€",Hamburg+City,Bochum+City,23.01.2020,The price of jouney from Hamburg+City to Bochu...
8,NaN,ICE,1,"81,90€","81,90€","5,36€","81,90€","81,90€","5,36€",Leipzig+City,Hamburg+City,18.01.2020,The price of jouney from Leipzig+City to Hambu...

In [63]:
result.reset_index(inplace=True)
data_dict = result.to_dict("records")
collection.insert_many(data_dict)

In [260]:


result.to_csv('Desktop/file_name.csv')